// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all
{
  width: 65%;
  margin-left: 17.5%;
  background-color: #f7f7f7;
  min-height: calc(100%);
  margin-top: 130px;
}

#app-menu
{
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  position: fixed;
  width: 90%;
  margin-left: 5%;
  top: 0px;
}

.app-li
{
  display: inline-block;
  font-size: 20px;
  font-family: Arial;
  background-color: #dcdcdc;
  padding: 15px 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.app-li:hover
{
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 40px;
  background-color: #d2d2d2;
  transition: 0.3s;
}

.winner
{
  width: 30%;
  display: inline-block;
}

.winner:hover
{
  transform: translateY(-10px);
  border-bottom: 10px solid red;
  transition: 0.3s;
}

.wins-container
{
  text-align: center;
}

p
{
  font-size: 20px;
  font-family: 'Arial';
}

.header1
{
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

body
{
  font-size: 16px;
  background-color: #eeeeee;
}

html,
body
{
  height: calc(100% - 78px);
}

table
{
  border-collapse: collapse;
}

table td
{
  width: 4em;
  height: 4em;
}

table td img
{
  width: 4em;
  height: 4em;
}

.whiteF
{
  background-color: #fafafa;
}

.whiteF:hover
{
  background-color: #dcdcdc;
  transition: 0.3s;
}

.blackF
{
  background-color: gray;
}

.blackF:hover
{
  background-color: #9a9a9a;
  transition: 0.3s;
}

#main
{
  --padding: 20px;
  width: 70%;
  margin-left: 15%;
  background-color: white;
  min-height: calc(100% - 2 * (var(--padding)));
  padding: var(--padding);
  border-radius: 5px;
}

#chess-table
{
  display: inline-block;
  margin-right: 20px;
}

#info
{
  display: inline-block;
  width: calc(100% - 560px);
  background-color: lightgray;
  height: 544px;
  border-radius: 8px 8px 0 0;
  vertical-align: top;
}

#headmenu
{
  text-align: center;
  border-bottom: 1px solid black;
}

.headel
{
  font-size: 25px;
  padding: 0.5em 0;
  width: calc(33% - 3px);
  background-color: gray;
  border-radius: 8px 8px 0 0;
  display: inline-block;
  font-weight: 600;
  font-family: "Arial";
}

.vsmain
{
  text-align: center;
  font-size: 50px;
  font-family: "Arial";

  border-bottom: 1px solid black;
}

.vs1
{
  text-align: left;
  margin-left: 30px;
}

.vs2
{
  text-align: right;
  margin-right: 30px;
}

#chat
{
  margin: 1em;
  border: 1px solid black;
  padding: 10px;
  height: 220px;
}

#chattext
{
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 34px);
}

#headmenu a
{
  color: black;
}

#players p
{
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 14px;
}

#players p:hover b
{
  display: block !important;
}

.rules-all
{
  padding: 20px;
}

.div-href
{
  color: black;
}