<div class="all rules-all">
  <div class="maincont">

    <div id="news-id-453" style="display:inline;">

      <p style="text-align: center; font-size: 30px"><strong>Скопированные правила))</strong></p>
      <p style="text-align: justify;">Само слово шахматы переводится как «шах» - король, «мат» - умер, то есть в дословном переводе «король умер». В шахматы играют два человека на квадратной шахматной доске, причем один белыми фигурами другой черными, ходят в этой игре по очереди. Первые ходят те, у кого белые фигуры.</p>
      <p style="text-align: center;"><strong>Шахматная доска</strong></p>
      <p style="text-align: justify;">На шахматной доске 8 горизонталей, которые обозначены латинскими буквами a, b, c, d, e, f, g, h, и 8 вертикалей обозначаются арабскими цифрами 1, 2, 3, 4, 5, 6, 7, 8, всего 64 клетки, из них 32 белые и 32 черные.</p>
      <p style="text-align: center;"><strong>Расстановка фигур</strong></p>
      <p style="text-align: justify;">Каждый игрок перед началом игры имеет 16 фигур: 8 пешек, 2 ладьи, 2 коня, 2 слона, короля и ферзя. Чтобы начать игру нужно правильно расставить фигуры на шахматной доске, осуществляется это следующим образом:</p>
      <p align="center"><strong><em><img style="display: block; margin-left: auto; margin-right: auto;" title="Расстановка шахматных фигур" src="http://2ls.ru/uploads/posts/2013-02/1360443374_rasstanovka-shahmatnyh-figur.png" alt="Расстановка шахматных фигур" width="350" height="351"></em></strong></p>
      <p style="text-align: justify;">Если по какой-то причине у Вас шахматная доска без шахматной нотации (отсутствие букв и цифр по краям доски), тогда поверните доску так, чтобы белое поле в углу было справа от Вас. Более подробно про правильную расстановку фигур на шахматной доске читайте здесь.</p>
      <p style="text-align: center;"><strong>Ход в шахматах</strong></p>
      <p style="text-align: justify;">Как было замечено выше, кто играет белым цветом тот и первый ходит. Ход – это передвижение своей фигуры на не занятое поле, если это не взятие. Взятие же – это передвижение своей фигуры на место фигуры соперника, при этом фигура соперника снимается с доски. Далее мы рассмотрим по отдельности каждую фигуру.</p>
      <p style="text-align: center;"><strong>Как ходят фигуры</strong></p>
      <p style="text-align: justify;"><strong>Король </strong>– самая главная фигура в шахматах, цель игры в шахматы это поставить мат королю, после этого игра прекращается. Кто поставит мат тот и выигрывает партию. Король единственная фигура, которая не может взять фигуру, если она защищена, он также не имеет право ходить под шах, к тому же не может приблизиться к вражескому ферзю и королю (ближе, чем на одну клетку).</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="Король" src="http://2ls.ru/uploads/posts/2013-02/1360443417_kak-hodit-korol.png" alt="шахматная фигура Король" width="350" height="351"></strong></p>
      <p style="text-align: justify;">Как видим, у короля может быть самое большее восемь клеток, на которые он мо­жет переместиться. Если король стоит на краю доски, у него остается только пять воз­можных ходов, а если в углу - только три.</p>
      <p style="text-align: justify;">&nbsp;</p>
      <p style="text-align: justify;"><strong>Ладья - </strong>ходит и бьет фигуры противника на лю­бое доступное поле по вертикалям или горизонталям, на которых находится.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="Ладья" src="http://2ls.ru/uploads/posts/2013-02/1360443422_kak-hodit-ladya.png" alt="Ладья" width="350" height="351"></strong></p>
      <p style="text-align: justify;">Вот пример. Ладья не может пойти на крайнее левое поле доски - там расположен ее король. А вот черную пешку она может забрать, то есть снять с доски, и стать на ее место.</p>
      <p style="text-align: justify;">&nbsp;</p>
      <p style="text-align: justify;"><strong>Слон </strong>ходит на любое доступное поле по диаго­нали.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="Слон" src="http://2ls.ru/uploads/posts/2013-02/1360443357_kak-hodit-slon.png" alt="Слон шахматная фигура" width="350" height="351"></strong></p>
      <p style="text-align: justify;">Заметим, что один из слонов у каждого из игроков ходит только по белым полям (поэ­тому и называется - белопольным), а дру­гой - только по черным полям (этот слон - чернопольный).</p>
      <p style="text-align: justify;">&nbsp;</p>
      <p style="text-align: justify;"><strong>Конь </strong>всем известно, что конь ходит буквой «Г». Он прыгает по горизонтали или вертикали через клетку и тут же переходит на соседнее боковое поле другого цвета.</p>
      <p style="text-align: justify;">Конь - единственная шахматная фигура, способная перепрыгивать через другие фи­гуры.</p>
      <p style="text-align: center;">Вот как это может происходить.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="конь" src="http://2ls.ru/uploads/posts/2013-02/1360443383_kak-hodit-kon.png" alt="Конь" width="350" height="351"></strong></p>
      <p style="text-align: justify;"><strong>&nbsp;</strong></p>
      <p style="text-align: justify;"><strong>Ферзь </strong>самая сильная фигура. Он совмещает хо­ды ладьи и слона и может с места, на кото­ром находится, пойти на любое доступное поле по вертикали, по горизонтали или по диагоналям.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="ферзь" src="http://2ls.ru/uploads/posts/2013-02/1360443384_kak-hodit-ferz.png" alt="ферзь" width="350" height="351"></strong></p>
      <p style="text-align: justify;">Ферзь может пойти на любое поле, пока­занное стрелками, но может также взять ладью или слона черных. Для этого та или дру­гая фигура снимается с доски, а ферзь ста­вится на ее место.</p>
      <p style="text-align: justify;">&nbsp;</p>
      <p style="text-align: justify;"><strong>Пешка - </strong>их у каждого из соперников по 8, Пешки ходят только вперед по вертикали на одну клетку (если она не занята своей или чужой фигурой). Но из первоначального положе­ния каждая пешка может один раз за всю иг­ру пойти сразу на два поля. Среди других фигур только пешка бьет чужие фигуры не так, как ходит, а наискосок - на одну клетку вперед по диагонали.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="пешка" src="http://2ls.ru/uploads/posts/2013-02/1360443401_kak-bet-peshka.png" alt="пешка" width="350" height="351"></strong></p>
      <p style="text-align: center;">Здесь показаны все возможные случаи пе­шечных ходов.</p>
      <p style="text-align: center;"><strong>Что такое рокировка</strong></p>
      <p style="text-align: justify;">Один раз во время игры каждый из коро­лей (белый или черный) может сделать ро­кировку. Делается она так. Король переме­щается по направлению к одной из ладей через одну клетку, а ладья переносится че­рез него и становится рядом.</p>
      <p style="text-align: center;">Вот пример рокировки белого короля.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="рокировка" src="http://2ls.ru/uploads/posts/2013-02/1360443408_rokirovka.png" alt="рокировка" width="350" height="351"></strong></p>
      <p style="text-align: center;">Рокировка на королевском фланге назы­вается <strong>короткой, </strong>на ферзевом - <strong>длинной.</strong></p>
      <p style="text-align: justify;">Если король хоть однажды двигался, ро­кировка невозможна в обе стороны. Также нельзя рокироваться с ладьей, которая по­кидала свое место. Рокировка временно не­возможна, если король в этот момент нахо­дится под нападением фигуры соперника, а также в том случае, если под ударом оказы­вается поле, которое король должен занять или пересечь.</p>
      <p style="text-align: justify;">Нельзя также рокироваться, когда между королем и ладьей, с которой задумана роки­ровка, находится другая фигура.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="нельзя делать рокировку" src="http://2ls.ru/uploads/posts/2013-02/1360443416_rokirovku-delat-nelzya.png" alt="нельзя делать рокировку" width="350" height="351"></strong></p>
      <p style="text-align: center;"><strong>Взятие на проходе</strong></p>
      <p style="text-align: justify;">Если пешка делает из первоначального по­ложения ход на два поля и переступает клет­ку, находящуюся под ударом неприятельской пешки, то последняя может побить двигав­шуюся пешку. При этом двигавшаяся пешка снимается с доски, а бьющая становится не на ее место, как это происходит во всех дру­гих случаях, а на "битое" поле, которое та пе­репрыгнула.</p>
      <p style="text-align: center;">Подробности этого странного хода пока­заны на рисунке.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="взятие на проходе" src="http://2ls.ru/uploads/posts/2013-02/1360443425_vzyatie-na-prohode.png" alt="взятие на проходе" width="350" height="351"></strong></p>
      <p style="text-align: center;"><strong>Шах и мат</strong></p>
      <p style="text-align: justify;">Если любая фигура - ферзь, ладья, слон, конь или пешка - нападает на короля, то та­кое нападение называется <strong>шахом. </strong>От шаха нужно обязательно защититься следующим ходом. Есть три способа защиты. Можно отойти королем, уничтожить нападающую фигуру или же поставить между ней и коро­лем свою фигуру.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="Шах" src="http://2ls.ru/uploads/posts/2013-02/1360443433_shah.png" alt="Шах" width="350" height="351"></strong></p>
      <p style="text-align: justify;">Возможны все три защиты от шаха чер­ной ладьи. Белые могут увести короля, взять нападающую ладыо слоном или же засло­нить короля ладьей.</p>
      <p style="text-align: justify;">&nbsp;</p>
      <p style="text-align: justify;"><strong>Мат. </strong>Если ни один из способов защиты от ша­ха выполнить нельзя (нельзя увести короля, уничтожить нападающую фигуру или за­слонить короля своей фигурой), то полу­чается мат королю, партия прекращается.</p>
      <p align="center"><strong><img style="display: block; margin-left: auto; margin-right: auto;" title="Мат" src="http://2ls.ru/uploads/posts/2013-02/1360443344_mat.png" alt="Мат" width="350" height="351"></strong></p>
      <p style="text-align: justify;">Партия считается выигранной, если удается объявить мат королю соперника, или в том случае, если противник сдается сам.</p>
  </div>
</div>
</div>